@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  background: #f4f4f4 no-repeat center center/cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.list-item {
  font-weight: 500;
  list-style: none;
}

/* General */

.title {
  font-weight: 600;
  text-shadow: rgb(43, 191, 255) 3px 0px 0px, rgb(43, 191, 255) 2.83487px 0.981584px 0px, rgb(43, 191, 255) 2.35766px 1.85511px 0px, rgb(43, 191, 255) 1.62091px 2.52441px 0px, rgb(43, 191, 255) 0.705713px 2.91581px 0px, rgb(43, 191, 255) -0.287171px 2.98622px 0px, rgb(43, 191, 255) -1.24844px 2.72789px 0px, rgb(43, 191, 255) -2.07227px 2.16926px 0px, rgb(43, 191, 255) -2.66798px 1.37182px 0px, rgb(43, 191, 255) -2.96998px 0.42336px 0px, rgb(43, 191, 255) -2.94502px -0.571704px 0px, rgb(43, 191, 255) -2.59586px -1.50383px 0px, rgb(43, 191, 255) -1.96093px -2.27041px 0px, rgb(43, 191, 255) -1.11013px -2.78704px 0px, rgb(43, 191, 255) -0.137119px -2.99686px 0px, rgb(43, 191, 255) 0.850987px -2.87677px 0px, rgb(43, 191, 255) 1.74541px -2.43999px 0px, rgb(43, 191, 255) 2.44769px -1.73459px 0px, rgb(43, 191, 255) 2.88051px -0.838247px 0px;
}

/* Navbar */

.brand {
  background: no-repeat center center/cover;
  max-width: 100px;
  max-height: 100px;
}

.nav-item {
  color: #fff;
  font-size: 1rem;
  text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px, rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px, rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px, rgb(0, 0, 0) -1.30729px -1.5136px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px, rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px -0.558831px 0px;
  font-weight: 600;
  padding: 5px 0px;
}

.nav-item:hover {
  color: #ddd;
}
.active {
  color: #ddd
}

.navbar-dark {
  outline: none;
}

/*Card*/

.card {
  max-width: 350px;
  height: 100%;
  transition: transform .2s;
}

.card:hover {
  transform: scale(1.03);
}

.card img{
  max-height: 150px;
  max-width: 150px;
}

.card-header {
  background: #003A70;
  color: #FFCB05;
}

.card-header__id {
  color: #fff;
}



/* Pagination */

.pagination {
  margin: 0 6px;
}

.pagination > li {
  margin: 10px 0;
  border: #f4f4f4 2px solid;
  border-radius: 5px;
  background: cadetblue;
  color: #fff;
  font-size: 0.85rem;
  font-weight: 600;
}

.pagination > li > a {
  padding: 10px 7px;
  outline: none;
}

.active-page {
  background: #003A70;
  color: #FFCB05;
}

/* Abilities card */

.abilities {
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  background: #dddddd;
  margin: 3px 0;
}

.abilities-header {
  text-align: center;
  background: #333;
  color: #fff;
  border-radius: 5px;
  padding: 3px;
  font-weight: 600;
}

.abilities-content {
  padding: 5px 8px;
}

